@import '_setting.scss';
$column-card-radius: 4px;
li.task-item{
    background-color: white;
    padding: $gap;
    border-radius:$column-card-radius ;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    &:not(:last-child){
        margin-bottom: $gap;
    }
    
}