
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600');
$gap: 10px;
$navbar-app-height: 5vh;
$navbar-board-height: 6vh;
$board-content-height: 88vh;

//color
$common-element-bg: rgba(255,255,255,0.24);
$board-bg-color: #0079bf;
//screen

$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: '(max-width: 375px)';