@import '_setting.scss';


body{
    margin:0;
    font-size:14px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height:1.3em;

}
.trello-container{
    height: 100vh;
    overflow:hidden;
    line-height: 1.3em;
    background-color: $board-bg-color;
    color:$app-main-text-color;
    .icon {
        font-size: 14px;
        margin-right: 3px;
    }
}