@import '_setting.scss';


body{
    margin:0;
    font-size:14px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height:1.3em;

}
.trello-container{
    height: 100vh;
    display: grid;
    grid-template-rows: 40px 50px 1fr;
    line-height: 1.3em;
    background-color: $board-bg-color;
}